
.album-container {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    border: 1px solid #10100f; /*#9B7D00;*/
    border-radius: 4px;
    padding: 16px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px; 
}

/* .album-cover-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.album-cover {
    width: 300px;
    height: auto;
    border-radius: 4px;
    margin: 16px;
}
.album-title-picture {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    border-radius: 4px;
    width: 300px;
}

.album-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 16px 0;
    text-align: center;
}

.album-details {
    display: flex;
    flex-direction: column;     
    align-items: center;    
    margin: 16px 16px 16px 50px ;
}

.album-tracklist {
    padding-left: 20px;
    margin: 0;
}