.gallery-details{
    height: 80px;
    width: 200px;
    margin: 5px 0 5px 20px;
}

.divider {
    border: 0;
    height: 2px;
    background: #9B7D00; 
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.gallery-item {
    width: 400px;
    height: 300px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s ease; /*cand se trece de la o poza la alta*/
}

/*Dimensionarea imaginii in casuta*/
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.2);
    border-color: #333;
}
